.search-container {
    width: 280px;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown {
    position: absolute;
    top: 56px;
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius:5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .dropdown:empty {
    border: none;
  }
  
  .dropdown-row {
    cursor: pointer;
    text-align: start;
    margin: 2px 0;
    padding: 5px;
  }
  
  .search-inner {
    display: flex;
  }